# Sequences - Tuple

<div style='background:#B1F9E3; color:#000000' class= 'alert alert-box'>
<li>Tuples are used to store multiple items in a single variable.</li>
<li>Tuple is one of 4 built-in data types in Python used to store collections of data, the
other 3 are List, Set, and Dictionary, all with different qualities and usage.</li>
<li>A tuple is a collection which is ordered and unchangeable.</li>
<li>Tuples are written with round brackets.</li>
<li>Benefits of Tuple</li>
    <ul>
    <li>faster than the list.</li>
    <li>we can protect the data accidental changes.</li>
    <li>tuples are immutable (once created we cannot able to edit it).</li>
    </ul>
<li>When we do not want to change the data overtime tuple is preferred data type.</li>
</div>

<div style='background:#B1F9E3; color:#000000' class= 'alert alert-box'>
<h4>Creating a Tuple</h4>
</div>

In [1]:
#Empty tuple
# use of parentheses
family = ()
print(family)

()

In [2]:
# Tuple with integer
aadharNo = (20240001, 20240002, 20240003)
print(aadharNo)

(20240001, 20240002, 20240003)

In [3]:
# Tuple with floating numbers
latLon = (12.3122, 76.8341)
print(latLon)

(12.3122, 76.8341)

In [4]:
temp = (20.3, 21.3, 22.4, 21.8, 20.8, 19.6)
print(temp)

(20.3, 21.3, 22.4, 21.8, 20.8, 19.6)

In [5]:
# Tuple with strings
# if the tuple data is very long then make it in multiple line
planets = ("mercury",
           "venus",
           "earth",
           "mars",
           "jupiter",
           "saturn",
           "uranus",
           "neptune",
           "pluto")
print(planets)

('mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune', 'pluto')

In [6]:
# Tuple with mixed data
aadharData = ("Sumanth M", 208951841426, "AB+", 20010419, "Mysore", "karnataka")
print(aadharData)

('Sumanth M', 208951841426, 'AB+', 20010419, 'Mysore', 'karnataka')

In [7]:
# Nested tuple (tuple inside a tuple)
familyTreeGen1 = (("Shivakumar", "Leelavathi"), "Saritha", "Shilpa", "Sheela")
familyTreeGen2 = (("Maheshkumar", "Saritha"), "Sumanth",
("Shivashankar", "Shilpa"), "Tejaswini", "Vedika",
("Shubakar","Sheela"), "Lohith")
print(familyTreeGen1)
print(familyTreeGen2)

(('Shivakumar', 'Leelavathi'), 'Saritha', 'Shilpa', 'Sheela')
(('Maheshkumar', 'Saritha'), 'Sumanth', ('Shivashankar', 'Shilpa'), 'Tejaswini', 'Vedika', ('Shubakar', 'Sheela'), 'Lohith')

In [8]:
# List inside a tuple
# We can modify list inside a tuple but we can't modify tuple inside a tuple
home = ("Sumanth", ("Maheshkumar", "Saritha"), ["TV", "Fridge", "AC", "Bike", "Car"])
print(home)

('Sumanth', ('Maheshkumar', 'Saritha'), ['TV', 'Fridge', 'AC', 'Bike', 'Car'])

In [9]:
# Indexing a tuple
print(planets)

('mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune', 'pluto')

In [10]:
planets[0]

'mercury'

In [11]:
planets[-1]

'pluto'

In [12]:
# indexing a nested tuple
print(home)

('Sumanth', ('Maheshkumar', 'Saritha'), ['TV', 'Fridge', 'AC', 'Bike', 'Car'])

In [13]:
# Accessing elements inside a tuple
home[0]

'Sumanth'

In [14]:
# Accessing a items inside a nested tuple
home[1][0]

'Maheshkumar'

In [15]:
# Accessing a items inside a nested list
home[2][0]

'TV'

In [16]:
# Tuple slicing
print(planets)

('mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune', 'pluto')

In [17]:
# Extracting specific items in a tuple
planets[0:3]

('mercury', 'venus', 'earth')

In [18]:
# Reversing a Tuple
planets[::-1]

('pluto',
 'neptune',
 'uranus',
 'saturn',
 'jupiter',
 'mars',
 'earth',
 'venus',
 'mercury')

In [19]:
# updating a tuple
student = ("Sharath", "Harshitha", "Nithya")
Faculty = ("Vinay", "Rekha", "Papanna", "Ramu")

In [20]:
total = student + Faculty
print(total)

('Sharath', 'Harshitha', 'Nithya', 'Vinay', 'Rekha', 'Papanna', 'Ramu')

In [21]:
# Updating a tuple
print(planets)

('mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune', 'pluto')

```
Python code to update tuple index value 0 to the string sun
planets[0] = "Sun"
```
this will throw an error: TypeError: 'tuple' object does not support item assignment

In [22]:
# Converting a list to tuple
office_Staff = ["Guru", "Kumari", "Chetan", "Apoorva", "Vishakanta"]
type(office_Staff)

list

In [23]:
officeStaff_permanent = tuple(office_Staff)
print(officeStaff_permanent)
type(officeStaff_permanent)

('Guru', 'Kumari', 'Chetan', 'Apoorva', 'Vishakanta')

tuple

In [24]:
# Converting tuple to list
print(planets)
type(planets)

('mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune', 'pluto')

tuple

In [25]:
planetsList = list(planets)
print(planetsList)
type(planetsList)

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune', 'pluto']

list

In [26]:
# Deleting a tuple
del planets

```Python code 
print(planets)
```
this will throw an error: NameError: name 'planets' is not defined

<div style='background:#B1F9E3; color:#000000' class= 'alert alert-box'>
<h4>Tuple Functions</h4>
</div>

<table>
        <tr>
<th>Metho</th> <th>Description</th>
            </tr>
<tr>
<td>count()</td> <td>Returns the number of times a specified value occurs in a tuple</td>
    </tr>
<td>index()</td> <td> Searches the tuple for a specified value and returns the position of where it
was found</td>
</table>

In [27]:
# Counting an item inside a tuple
print(officeStaff_permanent)

('Guru', 'Kumari', 'Chetan', 'Apoorva', 'Vishakanta')

In [28]:
officeStaff_permanent.count("Guru")

1

In [29]:
# Python is case sensitive
officeStaff_permanent.count("guru")

0

In [30]:
# Finding an index of an item
officeStaff_permanent.index("Chetan")

2

``` python code
officeStaff_permanent.index("vinay")
```
this will throw an error: ValueError: tuple.index(x): x not in tuple

In [31]:
# Tuple membership
print(officeStaff_permanent)

('Guru', 'Kumari', 'Chetan', 'Apoorva', 'Vishakanta')

In [32]:
"Vinay" in officeStaff_permanent

False

In [33]:
"Apoorva" in officeStaff_permanent

True

In [34]:
# Sorting a tuple
height = (5.7, 5.6, 5.4, 4.10, 5.10, 5.4, 5.2, 4.8, 6.0)
print(height)

(5.7, 5.6, 5.4, 4.1, 5.1, 5.4, 5.2, 4.8, 6.0)

In [35]:
sorted(height)

[4.1, 4.8, 5.1, 5.2, 5.4, 5.4, 5.6, 5.7, 6.0]

In [36]:
sorted(height, reverse= True)

[6.0, 5.7, 5.6, 5.4, 5.4, 5.2, 5.1, 4.8, 4.1]

In [37]:
height_ascending = tuple(sorted(height))
print(height_ascending)

(4.1, 4.8, 5.1, 5.2, 5.4, 5.4, 5.6, 5.7, 6.0)

In [38]:
height_decending = tuple(sorted(height, reverse = True))
print(height_decending)

(6.0, 5.7, 5.6, 5.4, 5.4, 5.2, 5.1, 4.8, 4.1)