# Sets

<div style='background:#B1F9E3; color:#000000' class= 'alert alert-box'>
A Set in Python programming is an unordered collection data type that is iterable, mutable
and has no duplicate elements.
<li> Sets are unindexed.</li>
<li>Sets are unordered.
<li>Sets can be altered.
<li>Sets do not allow duplicate.
<li>Normal set is mutable.
<li>Frozen set is immutable.
<li>Set uses flower bracket/curly braces {}.

<div style='background:#B1F9E3; color:#000000' class= 'alert alert-box'>
<b>Creating Python sets</b>

A set is created by placing all the items (elements) inside curly braces {l, separated by a
comma, or by using the built-in seto function. A set cannot have mutable items or a
duplicate.

In [1]:
# Different types of sets in Python
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, (1, 2, 3), 'Hello'}

In [2]:
# set cannot have duplicates
# Output: {1, 2, 3, 4}
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

# we can make set from a list
# Output: {1, 2, 3}
my_set = set([1, 2, 3, 2])
print(my_set)

# set cannot have mutable items
# here [3, 4] is a mutable list
# this will cause an error.

my_set = {1, 2, [3, 4]}
print(my_set)

{1, 2, 3, 4}
{1, 2, 3}

TypeError: unhashable type: 'list'

<div style='background:#B1F9E3; color:#000000' class= 'alert alert-box'>
<h4>Creating an Empty set

In [3]:
# Distinguish set and dictionary while creating empty set

# initialize a with {}
a = {}

# check data type of a
print(type(a))

# initialize a with set()
a = set()

# check data type of a
print(type(a))

<class 'dict'>
<class 'set'>

<div style='background:#B1F9E3; color:#000000' class= 'alert alert-box'>
<h4>Modifying a set</h4>

Sets are mutable. However, since they are unordered, indexing has no meaning.

In [4]:
# initialize my_set
my_set = {1, 3}
print(my_set)

# my_set[0]
# if you uncomment the above line
# you will get an error
# TypeError: 'set' object does not support indexing

# add an element
# Output: {1, 2, 3}
my_set.add(2)
print(my_set)

# add multiple elements
# Output: {1, 2, 3, 4}
my_set.update([2, 3, 4])
print(my_set)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

<div style='background:#B1F9E3; color:#000000' class= 'alert alert-box'>
<h4>Removing elements from a set</h4>


A particular item can be removed from a set using the methods discard() and remove().
The only difference between the two is that the discard() function leaves a set unchanged if the element is not present in the set. On the other hand, the remove() function will raise an error in such a condition (if element is not present in the set).

In [5]:
# Difference between discard() and remove()

# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
# Output: {1, 3, 5, 6}
my_set.discard(4)
print(my_set)

# remove an element
# Output: {1, 3, 5}
my_set.remove(6)
print(my_set)

# discard an element
# not present in my_set
# Output: {1, 3, 5}
my_set.discard(2)
print(my_set)

# remove an element
# not present in my_set
# you will get an error.
# Output: KeyError

my_set.remove(2)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}

KeyError: 2

<div style='background:#B1F9E3; color:#000000' class= 'alert alert-box'>

    
Similarly, we can remove and return an item using the `pop()` method.

Since set is an unordered data type, there is no way of determining which item will be popped. It is completely arbitrary.

We can also remove all the items from a set using the `clear()` method.

In [6]:
# initialize my_set
# Output: set of unique elements
my_set = set("HelloWorld")
print(my_set)

# pop an element
# Output: random element
print(my_set.pop())

# pop another element

my_set.pop()
print(my_set)

# clear my_set
# Output: set()
my_set.clear()
print(my_set)

print(my_set)

{'H', 'W', 'r', 'd', 'l', 'o', 'e'}
H
{'r', 'd', 'l', 'o', 'e'}
set()
set()

<div style='background:#B1F9E3; color:#000000' class= 'alert alert-box'>
<h4>Python set methods</h4>

Sets can be used to carry out mathematical set operations like union, intersection, difference and symmetric difference. We can do this with operators or methods

<b>Set Union</b>

Union of A and B is a set of all elements from both sets

Union is performed using `|` operator. Same can be accomplished using the `union()` method..

In [7]:
# Set union method
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use | operator
# Output: {1, 2, 3, 4, 5, 6, 7, 8}
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [8]:
# use union function
A.union(B)
{1, 2, 3, 4, 5, 6, 7, 8}

# use union function on B
B.union(A)
{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

<div style='background:#B1F9E3; color:#000000' class= 'alert alert-box'>
<b>Set Intersection</b>

Intersection of A and B is a set of elements that are common in both the sets

Intersection is performed using & operator. Same can be accomplished using the intersection() method.

In [9]:
# Intersection of sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use & operator
# Output: {4, 5}
print(A & B)

{4, 5}

In [10]:
# use intersection function on A
A.intersection(B)
{4, 5}

# use intersection function on B
B.intersection(A)
{4, 5}

{4, 5}

<div style='background:#B1F9E3; color:#000000' class= 'alert alert-box'>
<b>Set Difference</b>

Difference of the set B from set A(A - B) is a set of elements that are only in A but not in B. Similarly, B - A is a set of elements in B but not in A.

Difference is performed using - operator. Same can be accomplished using the difference() method.

In [11]:
# Difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
# Output: {1, 2, 3}
print(A - B)

{1, 2, 3}

In [12]:
# use difference function on A
A.difference(B)
{1, 2, 3}

# use - operator on B
B - A
{8, 6, 7}

# use difference function on B
B.difference(A)
{8, 6, 7}

{6, 7, 8}

<div style='background:#B1F9E3; color:#000000' class= 'alert alert-box'>
<b>Set Symmetric Difference</b>

Symmetric Difference of A and B is a set of elements in A and B but not in both (excluding the intersection).

Symmetric difference is performed using ^ operator. Same can be accomplished using the method symmetric_difference().

In [13]:
# Symmetric difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use ^ operator
# Output: {1, 2, 3, 6, 7, 8}
print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [14]:
# use symmetric_difference function on A
A.symmetric_difference(B)
{1, 2, 3, 6, 7, 8}

# use symmetric_difference function on B
B.symmetric_difference(A)
{1, 2, 3, 6, 7, 8}

{1, 2, 3, 6, 7, 8}

**Subset and Superset**

In [15]:
x = {1,2,3,4,5,6,7,8}
y = {1,2,3,4,5}
z = {7,8,9,10}

In [16]:
y. issubset(x)

True

In [17]:
x. issubset(y)

False

In [18]:
x. issuperset (y)

True

**Disjoint set**

In [19]:
M = {1,2,3,4,5,6}
N = {7,8,9,10}
O = {4,5}

In [20]:
N. isdisjoint(M)

True

In [21]:
M.isdisjoint(N)

True

In [22]:
O. isdisjoint(M)

False

<div style='background:#B1F9E3; color:#000000' class= 'alert alert-box'>
<h5>Set membership test</h5>

In [23]:
# in keyword in a set
# initialize my_set
my_set = set("apple")

# check if 'a' is present
# Output: True
print('a' in my_set)

# check if 'p' is present
# Output: False
print('p' not in my_set)

True
False

<div style='background:#B1F9E3; color:#000000' class= 'alert alert-box'>
<h5>Built in Functions of set</h5>

In [24]:
A

{1, 2, 3, 4, 5}

In [25]:
# Print sum of a set A
print (sum (A) )
# Print Maximum value in A
print (max(A))
# Print Minimum value in A
print (min (A) )
# Gives the Length of the set A
print( len (A) )

15
5
1
5

<div style='background:#B1F9E3; color:#000000' class= 'alert alert-box'>
<h5>Convertinq set to list</h5>

In [26]:
# Calling The set A
print (A)
A_list = sorted(A)
print (type(A_list))
print(A_list)

{1, 2, 3, 4, 5}
<class 'list'>
[1, 2, 3, 4, 5]

<div style='background:#B1F9E3; color:#000000' class= 'alert alert-box'>
<h5>Reversing a value</h5>

In [27]:
A_list= sorted(A, reverse = True)
A_list

[5, 4, 3, 2, 1]

<div style='background:#B1F9E3; color:#000000' class= 'alert alert-box'>
<h5>Converting list.tp set</h5>

In [28]:
# Converting ISt to set
z = set(A_list)
print (z)
type(z)

{1, 2, 3, 4, 5}

set

<div style='background:#B1F9E3; color:#000000' class= 'alert alert-box'>
<h5>Frozen Set</h5>

The frozenset() function returns an unchangeable frozenset object (which is like a set object.
only unchangeable.

In [29]:
frozenset_z = frozenset(z)
print(frozenset_z)

frozenset({1, 2, 3, 4, 5})

In [30]:
frozenset_z.add(10)

AttributeError: 'frozenset' object has no attribute 'add'

<table>
  <tr>
    <th>Method</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>add(element)</td>
    <td>Adds an element to the set.</td>
  </tr>
  <tr>
    <td>clear()</td>
    <td>Removes all elements from the set.</td>
  </tr>
  <tr>
    <td>copy()</td>
    <td>Returns a copy of the set.</td>
  </tr>
  <tr>
    <td>difference(*sets)</td>
    <td>Returns a set containing the difference between sets.</td>
  </tr>
  <tr>
    <td>difference_update(*sets)</td>
    <td>Removes items in the set that are also in specified set(s).</td>
  </tr>
  <tr>
    <td>discard(element)</td>
    <td>Removes the specified element from the set.</td>
  </tr>
  <tr>
    <td>intersection(*sets)</td>
    <td>Returns a set that is the intersection of two or more sets.</td>
  </tr>
  <tr>
    <td>intersection_update(*sets)</td>
    <td>Removes items not present in other specified set(s).</td>
  </tr>
  <tr>
    <td>isdisjoint(other_set)</td>
    <td>Returns <code>True</code> if sets have no intersection, otherwise <code>False</code>.</td>
  </tr>
  <tr>
    <td>issubset(other_set)</td>
    <td>Returns <code>True</code> if set is a subset of another set, otherwise <code>False</code>.</td>
  </tr>
  <tr>
    <td>issuperset(other_set)</td>
    <td>Returns <code>True</code> if set is a superset of another set, otherwise <code>False</code>.</td>
  </tr>
  <tr>
    <td>pop()</td>
    <td>Removes and returns an arbitrary element from the set.</td>
  </tr>
  <tr>
    <td>remove(element)</td>
    <td>Removes the specified element from the set.</td>
  </tr>
  <tr>
    <td>symmetric_difference(other_set)</td>
    <td>Returns a set with the symmetric differences of two sets.</td>
  </tr>
  <tr>
    <td>symmetric_difference_update(other_set)</td>
    <td>Inserts symmetric differences from this set and another.</td>
  </tr>
  <tr>
    <td>union(*sets)</td>
    <td>Returns a set containing the union of sets.</td>
  </tr>
  <tr>
    <td>update(*sets)</td>
    <td>Updates the set with the union of this set and others.</td>
  </tr>
</table>

<div style='background:#B1F9E3; color:#000000' class= 'alert alert-box'>
<b>refer:</b><a href ="https://www.w3schools.com/python/python_sets_methods.asp" > https://www.w3schools.com/python/python_sets_methods.asp</a>