<div style='background:#B1F9E3; color:#000000' class='alert alert-box'>
  <h2>Iterations in Python (Loops)</h2>
     <p>In Python, an iterator is an object that allows you to iterate over collections of data, such as lists, tuples, dictionaries, and sets.</p>
  <ul>
    <li><strong>For-Loops with Range Functions</strong></li>
    <li><strong>For-Loops with Sequences</strong></li>
    <li><strong>For Loops with Enumerations</strong></li>
    <li><strong>Nested For Loops</strong></li>
    <li><strong>While Loops</strong></li>
    <li><strong>Loop Controls</strong>
      <ul>
        <li><code>Continue</code></li>
        <li><code>Pass</code></li>
        <li><code>Break</code></li>
      </ul>
    </li>
    <li><strong>Comprehension</strong></li>
  </ul>
</div>

<div style='background:#B1F9E3; color:#000000' class='alert alert-box'>
  <h3>For-Loops with Range Functions</h3>
  <p><strong>Loops:</strong></p>
  <ul>
    <li>Repetition of a set of instructions until the condition is satisfied</li>
    <li>Loops are nothing but iterations</li>
  </ul>
  <p>Example: Cutting the tree or daily routines again and again</p>
</div>

In [1]:
# Range functions 
# Range generates set of sequential numbers

In [2]:
range(0,5)

range(0, 5)

<div style='background:#B1F9E3; color:#000000' class='alert alert-box'>
 <p><strong>Note:</strong> The above lines do not generate any values.</p>

In [3]:
a = list(range(0,5))

In [4]:
print(a)

[0, 1, 2, 3, 4]

In [5]:
b = list(range(0,10))
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
c = list(range(10,16))
print(c)

[10, 11, 12, 13, 14, 15]

In [7]:
# Generating even numbers in range function.
even = list(range(0,21,2))
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
# Generating odd numbers in range function
odd = list(range(1,21,2))
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [9]:
# Generating reversed values with in a range
reverse = list(range(21,0,-1))
print(reverse)

[21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

<div style='background:#B1F9E3; color:#000000' class='alert alert-box'>
  <h3>For Loop</h3>
</div>

In [10]:
bag = ['laptop', 'charger', 'pen', 'notebook']
print(bag)

['laptop', 'charger', 'pen', 'notebook']

In [11]:
# Traversing through a list
for item in bag:
    print(item)

laptop
charger
pen
notebook

In [12]:
for i in bag:
    print(i)

laptop
charger
pen
notebook

In [13]:
# Customizing printing
for i in bag:
    print(f"{i} found in bag")

laptop found in bag
charger found in bag
pen found in bag
notebook found in bag

In [14]:
# Using range function for printing values
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
# Use of range function with airthmetic operators
for i in range(1,11):
    print(i * 2)

2
4
6
8
10
12
14
16
18
20

In [16]:
# Use of range function with trignometric functions
import math

In [17]:
for i in range(1,11):
    print(math.sin(i))

0.8414709848078965
0.9092974268256817
0.1411200080598672
-0.7568024953079282
-0.9589242746631385
-0.27941549819892586
0.6569865987187891
0.9893582466233818
0.4121184852417566
-0.5440211108893698

In [18]:
# Rounding of the values
for i in range(1,11):
    print(round(math.sin(i),2))

0.84
0.91
0.14
-0.76
-0.96
-0.28
0.66
0.99
0.41
-0.54

In [19]:
# Traversing through a list and finding sum of all values

In [20]:
# Step 1:
# generate a list of numbers
a = list(range(1,10))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
# Step 2:
# declare a temporary variable
Total = 0

In [22]:
# Step 3:
for num in a:
    Total = num + Total

In [23]:
# Step 4: 
# Print the total
print(Total)

45

In [24]:
# Merging all line and creating a final code
b = list(range(1,11))
sum = 0
for num in b:
    sum = sum + num
print(sum)

55

In [25]:
# Generatin a product of all the numbers
c = list(range(1,5))
product = 1
for number in c:
    product = product * number
print(product)

24

<div style='background:#B1F9E3; color:#000000' class='alert alert-box'>
  <h3>For Loops with Enumerations</h3>
</div>

In [26]:
print(list(enumerate(bag)))

[(0, 'laptop'), (1, 'charger'), (2, 'pen'), (3, 'notebook')]

In [27]:
print(tuple(enumerate(bag)))

((0, 'laptop'), (1, 'charger'), (2, 'pen'), (3, 'notebook'))

In [28]:
for index, item in enumerate(bag):
    print(index, item)

0 laptop
1 charger
2 pen
3 notebook

In [29]:
for index, item in enumerate(bag):
    print(f'at the {index} position {item} is stored.')

at the 0 position laptop is stored.
at the 1 position charger is stored.
at the 2 position pen is stored.
at the 3 position notebook is stored.

<div style='background:#B1F9E3; color:#000000' class='alert alert-box'>
  <h3>Nested For Loops</h3>
</div>

In [30]:
# Create a nested list
school = [['Sumanth', 'Sanjay', 'Shivashankar'], ['Divya', 'Harshitha', 'Inchara']]

In [31]:
for i in school:
    print(i)

['Sumanth', 'Sanjay', 'Shivashankar']
['Divya', 'Harshitha', 'Inchara']

In [32]:
for i in school:
    for name in i:
        print(name)

Sumanth
Sanjay
Shivashankar
Divya
Harshitha
Inchara

In [33]:
family = [['Sumanth'],['Maheshkumar', 'Saritha'], [['Leelavathi', 'Shivakumar']]]

In [34]:
for i in family:
    print(i)

['Sumanth']
['Maheshkumar', 'Saritha']
[['Leelavathi', 'Shivakumar']]

In [35]:
for i in family:
    for j in i:
        print(j)

Sumanth
Maheshkumar
Saritha
['Leelavathi', 'Shivakumar']

In [36]:
for i in family:
    for j in i:
        print(j)

Sumanth
Maheshkumar
Saritha
['Leelavathi', 'Shivakumar']

<div style='background:#B1F9E3; color:#000000' class='alert alert-box'>
  <h3>While Loops</h3>
  <p>A <code>while</code> loop is also called an infinite loop until you flag it with a condition.</p>
</div>

In [37]:
i = 0
while i < 10:
    print('Happy new year')
    i = i + 1

Happy new year
Happy new year
Happy new year
Happy new year
Happy new year
Happy new year
Happy new year
Happy new year
Happy new year
Happy new year

<div style='background:#B1F9E3; color:#000000' class='alert alert-box'>
  <h3>Loop Controls</h3>
  <ul>
    <li><code>pass</code></li>
    <li><code>continue</code></li>
    <li><code>break</code></li>
  </ul>
</div>

In [38]:
names = ['Sharath', 'Harshitha','Inchara']

In [39]:
for name in names:
    pass

In [40]:
z = list(range(0,10))

In [41]:
print(z)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
for number in z:
    if number <=10:
        print(number)
    else:
        pass

0
1
2
3
4
5
6
7
8
9

In [43]:
for number in z:
    if number % 2 != 0:
        print(f'odd numbers {number}')
    else:
        pass

odd numbers 1
odd numbers 3
odd numbers 5
odd numbers 7
odd numbers 9

In [44]:
for number in z:
    if number % 2 == 0:
        print(f'even numbers {number}')
    else:
        pass

even numbers 0
even numbers 2
even numbers 4
even numbers 6
even numbers 8

In [45]:
for number in z:
    if number % 2 != 0:
        print(f'odd numbers {number}')
    else:
        print(f'even numbers {number}')

even numbers 0
odd numbers 1
even numbers 2
odd numbers 3
even numbers 4
odd numbers 5
even numbers 6
odd numbers 7
even numbers 8
odd numbers 9

***Continue function***

continue function is used to skip when condition is satisfied

In [46]:
names = ['ravi', 'ram', 'sita', 'ravan']

In [47]:
for name in names:
    print(name)

ravi
ram
sita
ravan

In [48]:
for name in names:
    if len(name) == 3:
        continue
    print(name)

ravi
sita
ravan

In [49]:
for num in range(1,21):
    if num >= 8 and num <=12:
        continue
    print(num)

1
2
3
4
5
6
7
13
14
15
16
17
18
19
20

In [50]:
# Gets out of the loop when condition is satisfied
names = ['ravi', 'sita', 'ram', 'ravan']

In [51]:
for name in names:
    if len(name) == 3:
        break
    print(name)

ravi
sita

<div style='background:#B1F9E3; color:#000000' class='alert alert-box'>
  <h2>For-Else</h2>
  <p>If the <code>else</code> statement is used with the <code>for</code> loop, the <code>else</code> block is executed only if the <code>for</code> loop terminates normally.</p>
</div>

In [52]:
number = [11, 33, 55, 2, 39]
for num in number:
    if num % 2 == 0:
        print('It has even number')
        break
else:
    print('List does not contain even numbers')

It has even number

<div style='background:#B1F9E3; color:#000000' class='alert alert-box'>
  <h3>Comprehension</h3>
  <p>Comprehension is one of the elegant ways to generate a set of numbers using a condition within a sequence.</p>
</div>

In [53]:
# Traditional method of generating a series of numbers using range function
a = list(range(1,101))

In [54]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [55]:
# Comprehension method to generate a series of numbers
b = [i for i in range(1,101)]

In [56]:
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [57]:
b = [i for i in range(1,101) if i % 2 == 0]

In [58]:
print(b)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [59]:
b = [i for i in range(1,101) if i % 2 != 0]

In [60]:
print(b)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [61]:
# Using compherension to apply a mathematical funtion to a list

In [62]:
a = [1, 2, 3, 4, 5]

In [63]:
# Syntax is [do for item in list(Variable) ]
b = [item*2 for item in a]

In [64]:
print(b)

[2, 4, 6, 8, 10]

In [65]:
c = [item/2 for item in a]

In [66]:
print(c)

[0.5, 1.0, 1.5, 2.0, 2.5]

In [67]:
print(a)

[1, 2, 3, 4, 5]

In [68]:
# Traditional method
d = []
for item in a:
    temp = item/2
    d.append(temp)
print(d)

[0.5, 1.0, 1.5, 2.0, 2.5]

In [69]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

## The break Statement

With the break statement we can stop the loop even if the while condition is true:

In [70]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

## The continue Statement

With the continue statement we can stop the current iteration, and continue with the next:

In [71]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

## The else Statement
With the else statement we can run a block of code once when the condition no longer is true:

In [72]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6