**1. Write a program to print hello python?**

In [1]:
# Program to print hello python

print('Hello Python!')

Hello Python!

**2. Write a program to calculate area of a triangle?**

In [2]:
# Python program to find the area of a triangle
# Area of triangle = 1/2(B*H)

breadth = float(input("Enter breadth of the triangle: "))
height = float(input("Enter height of the triangle: "))

area = 0.5*(breadth*height)

print(f"Area of the triangle is: {area}")

Enter breadth of the triangle:  3
Enter height of the triangle:  6

Area of the triangle is: 9.0

**3. Write a program to convert Kilometers to Miles and Miles to Kilometers ?**

In [3]:
# Python program to convert kilometers to miles
# 1 mile = 1.60934km

value = int(input("Enter value 1: To convert Km to Mile \nEnter value 2: To convert Mile to Km \n"))
if value==1:
    print("You have Selected :: Km to Mile Conversion")
    km = float(input("Enter Kilometer: "))
    km2mile = km / 1.609
    print(f"Equivalent value of {km} kms is {round(km2mile,2)} miles")
elif value==2:
    print("You have Selected :: Mile to Km Conversion")
    mile = float(input("Enter Mile: "))
    mile2km = mile * 1.609
    print(f"Equivalent value of {mile} miles is {round(mile2km,2)} Km")
else:
    print("You have entered invalid input")

Enter value 1: To convert Km to Mile
Enter value 2: To convert Mile to Km
 2

You have Selected :: Mile to Km Conversion

Enter Mile:  3

Equivalent value of 3.0 miles is 4.83 Km

**4. Write a program to convert Celsius to Fahrenheit ?**

In [4]:
# Python program to convert Celsius to Fahrenheit
# Logic = (1°C × 9/5) + 32 = 33.8°F

celsius = float(input("Enter Celsius:: "))
c2f = (celsius * (9/5)) + 32
print(f"Celsius to Fahrenheit is {c2f}F")

Enter Celsius::  32

Celsius to Fahrenheit is 89.6F

**5. Write a program to Check if a Number is Positive, Negative or Zero ?**

In [5]:
# Python Program to Check if a Number is Positive, Negative or Zero
# Logic::: a > 0 = positive, a < 0 = Negative, a = 0 then Zero


value = float(input("Enter a Number ::: "))
if value > 0:
    print(f"{value} is Positive Number")
elif value < 0:
    print(f"{value} is Negative Number")
else:
    print(f"{value} is Zero Number")

Enter a Number :::  -5

-5.0 is Negative Number

**6.Write a  program to Check if a Number is Odd or Even ?**

In [6]:
# Python Program to Check if a Number is Odd or Even
# Logic:: number is divisible by 2 then it is even else odd

a = int(input("Enter a number ::: "))
if a%2 == 0:
    print(f"{a} is Even")
else:
    print(f"{a} is Odd")

Enter a number :::  56

56 is Even

**7. Write a program to Check Leap Year ?**

In [7]:
# Python Program to Check Leap Year

'''
A leap year is a year that contains an additional day,
February 29th, making it 366 days long instead of the usual 365 days.
Leap years are necessary to keep our calendar in alignment with the Earth’s revolutions around the Sun.
A year is a leap year if the following conditions are satisfied: 

The year is multiple of 400.

The year is a multiple of 4 and not a multiple of 100
'''
year = int(input("Enter a Year to Check Leap or Not ::: "))
if (year%400 == 0) or (year%4 == 0 and year%100 != 0):
    print("Leap")
else:
    print("Not Leap")

Enter a Year to Check Leap or Not :::  1860

Leap

**8. Write a program to Check Leap Year for given number of Years in a list ?**

In [8]:
# Python Program to Check Leap Year for given number of years

'''
A leap year is a year that contains an additional day,
February 29th, making it 366 days long instead of the usual 365 days.
Leap years are necessary to keep our calendar in alignment with the Earth’s revolutions around the Sun.
A year is a leap year if the following conditions are satisfied: 

The year is multiple of 400.

The year is a multiple of 4 and not a multiple of 100
'''
years_list = [2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010]
for year in years_list:
    if (year%400 == 0) or (year%4 == 0 and year%100 != 0):
        print(f"{year} is Leap")
    else:
        print(f"{year} is Not Leap")

2000 is Leap
2001 is Not Leap
2002 is Not Leap
2003 is Not Leap
2004 is Leap
2005 is Not Leap
2006 is Not Leap
2007 is Not Leap
2008 is Leap
2009 is Not Leap
2010 is Not Leap

In [9]:
# Python Program to Check Leap Year using range() function

'''
A leap year is a year that contains an additional day,
February 29th, making it 366 days long instead of the usual 365 days.
Leap years are necessary to keep our calendar in alignment with the Earth’s revolutions around the Sun.
A year is a leap year if the following conditions are satisfied: 

The year is multiple of 400.

The year is a multiple of 4 and not a multiple of 100
'''
years_list = [i for i in range(2000,2011)]
for year in years_list:
    if (year%400 == 0) or (year%4 == 0 and year%100 != 0):
        print(f"{year} is Leap")
    else:
        print(f"{year} is Not Leap")

2000 is Leap
2001 is Not Leap
2002 is Not Leap
2003 is Not Leap
2004 is Leap
2005 is Not Leap
2006 is Not Leap
2007 is Not Leap
2008 is Leap
2009 is Not Leap
2010 is Not Leap

**9. Write a a program to calculate Simple interest ?**

In [10]:
# Write a program to calculate Simple interest
# simple Interst = principal amount * time * rate of interest / 100

p =int(input('Enter Principal amount: '))
t = int(input('Enter time in Years: '))
r = float(input('Enter rate of interest: '))

si = (p*t*r)/100
print(f"Simple interest is {si}")

Enter Principal amount:  500
Enter time in Years:  6
Enter rate of interest:  4.5

Simple interest is 135.0

**10.  Write a program to calculate Compound interest ?**

In [11]:
# Write a program to calculate Compound interest
# CI = P( 1 + r/n)^nt - P
'''P is the principal amount
r is the rate of interest(decimal obtained by dividing rate by 100)
t is the overall tenure.'''

p = int(input('Enter principal amount: '))
r= float(input('Enter rate of interest: '))
t = int(input('Enter the overall tenure: '))

Amount = p* (pow((1 + r / 100), t))
ci = Amount - p
print(f"Compound interest is {ci}")

Enter principal amount:  120030
Enter rate of interest:  6.5
Enter the overall tenure:  1

Compound interest is 7801.949999999997

**11. Write a program to calculate GST ?**

In [12]:
# Write a program to calculate GST
# GST for gold is 3%
from datetime import date
today = date.today()

grams = float(input("Enter total gold in grams: "))
goldPrice = int(input(f"Enter gold rate per gram as on {today}: "))
totalPrice = grams*goldPrice
print(f'Total price for gold:{totalPrice}')
gst= (totalPrice/100)*3
print(f'GST for {totalPrice} is: {gst}')
grandTotal = totalPrice + gst
print(f'Total invoice amount: {grandTotal}')

Enter total gold in grams:  12.5
Enter gold rate per gram as on 2024-01-20:  6506

Total price for gold:81325.0
GST for 81325.0 is: 2439.75
Total invoice amount: 83764.75

**12. Write a program to Calculate Body Mass Index(BMI) ?**

In [13]:
# Calculate the BMI of a person
#  BMI = mass(kg)/height^2(m)

name =input('Enter a name: ')
weight = float(input(f'Enter weight in kg of {name}: '))
height = float(input(f'Enter height in meters of {name}: '))

bmi = weight/(height*height)
print(f'BMI value of {name} is {bmi}')

if bmi < 18.49:
    print(f'{name} is underweight')
elif bmi >= 18.49 and bmi < 24.99:
    print(f'{name} is normal weight')
elif bmi >= 24.99 and bmi <29.99:
    print(f'{name} is overweight')
else:
    print(f'{name} is obese')

Enter a name:  Sumanth
Enter weight in kg of Sumanth:  65
Enter height in meters of Sumanth:  1.73736

BMI value of Sumanth is 21.53444681705546
Sumanth is normal weight

**13. Write a program to convert degree,minutes,seconds into decimal degree ?**

In [14]:
# write a program to convert degree,minutes,seconds into decimal degree

degree = int(input('Enter degree: '))
minutes = int(input('Enter minutes: '))
seconds = float(input('Enter seconds: '))

if minutes < 60 and seconds < 60:
    dd = degree + (minutes/60) + (seconds/3600)
    print(f'The Decimal degree is {dd}')
else:
    print('Invalid input')

Enter degree:  76
Enter minutes:  45
Enter seconds:  30

The Decimal degree is 76.75833333333334

**14. Write a program to convert decimal degree into degree,minutes,seconds**

In [15]:
# write a program to convert decimal degree into degree,minutes,seconds

dd = float(input("Enter decimal degree: "))
degree = dd // 1
temp = (dd % 1) * 60
minutes = temp // 1
seconds = (temp % 1) * 60
print(f'D:: {int(degree)} ,M:: {int(minutes)}, S:: {seconds}')

Enter decimal degree:  12.4568

D:: 12 ,M:: 27, S:: 24.479999999997943

**15.Write a code to find utm zone of lat/long value ?**

In [16]:
# Write a code to find utm zone of lat/long value
# utm = 31+long/6

latitude = -12.9457
longitude = -74.5474
if longitude > 0 and latitude > 0:
    print('North and Eastern hemisphere')
    utmGrid = 'N'
elif longitude > 0 and latitude < 0:
    print('South and Eastern hemisphere')
    utmGrid = 'S'
elif longitude < 0  and latitude > 0:
    print('North and Western hemisphere')
    utmGrid = 'N'
elif longitude < 0 and latitude <0 :
    print('South and Western hemisphere')
    utmGrid = 'S'
elif longitude == 0 and latitude == 0:
    print('Primemeridian and Equator intersecting point')
else:
    print('Invalid input')

zone = 31 + (longitude/6)
print(f'UTM zone {int(zone//1)}{utmGrid}')

South and Western hemisphere
UTM zone 18S

**16.Write a Python Program to Display the multiplication Table ?**

In [17]:
# Python Program to Display the multiplication Table
num = int(input("Enter a number which you want to generate multiplication table: "))

for value in range(1,11):
    print(f'{num}x{value}={num*value}\n')

Enter a number which you want to generate multiplication table:  19

19x1=19

19x2=38

19x3=57

19x4=76

19x5=95

19x6=114

19x7=133

19x8=152

19x9=171

19x10=190

**17.Write a Python Program to Find the Factorial of a Number ?**

In [18]:
# Python Program to Find the Factorial of a Number
# If input is 5 then 5x4x3x2x1 output 120

num = int(input("Enter the factorial number: "))
product = 1

for i in range(1,num+1):
    product = i * product
print(product)

Enter the factorial number:  8

40320

**18.Write a  Program to generate summation of number between two numbers ?**

In [19]:
# Program to generate summation of number between two numbers

lowerValue = int(input('Enter lower value: '))
upperValue = int(input('Enter upper value: '))
sum = 0

for num in range(lowerValue, upperValue+1):
    sum = sum + num
print(sum)

Enter lower value:  6
Enter upper value:  19

175

**19.a) Write a Python program to swap two variables with temporary variable ?**

In [20]:
# Python program to swap two variables with temporary variable

a = 'Juice'
b = 'Water'
temp = ''
print('Before swaping')
print(f'a is {a}')
print(f'b is {b}')

temp = a
a = b
b = temp
print('After swaping using temporary variable')
print(f'a is {a}')
print(f'b is {b}')

Before swaping
a is Juice
b is Water
After swaping using temporary variable
a is Water
b is Juice

**19.b) Write a Python program to swap two variables without temporary variable ?**

In [21]:
# Python program to swap two variables without temporary variable

a = 'Juice'
b = 'Water'
print('Before swaping')
print(f'a is {a}')
print(f'b is {b}')

a,b = b, a
print('After swaping ')
print(f'a is {a}')
print(f'b is {b}')

Before swaping
a is Juice
b is Water
After swaping
a is Water
b is Juice

**20. Write a Python Program to Print the Fibonacci sequence ?**

In [22]:
# Python Program to Print the Fibonacci sequence

stop = int(input('Enter a maximum value to stop fibonacci: '))

a = 0
b = 1
count = 0
while count < stop+1:
       print(a)
       nextValue = a + b
       # update values
       a = b
       b = nextValue
       count = count + 1

Enter a maximum value to stop fibonacci:  8

0
1
1
2
3
5
8
13
21

**21.Python program to generate a random number**

In [23]:
# Python program to generate a random number
import random
# Declaring variables
num = int(input("Enter total number of random number you want to generate: "))
randomList = [] 

# Iterating through range of numbers
for i in range(1,num+1):
    rand = random.randint(1,100)
    randomList.append(rand)
print(randomList)

Enter total number of random number you want to generate:  5

[44, 89, 50, 93, 36]

**22. Write a Program to generate random choice ?**

In [24]:
import random

# Declaring choices
cards = ['king', 'Queen', 'Ace', 'Jack', 'Joker', 2,3,4,5,6,7,8,9,10]

# Selecting random choice
outCome = random.choice(cards)
print(outCome)

Jack

**23.Program to create a guessing game**

In [25]:
# Program to create a guessing game
import random

myChoice = int(input('Choose a number between 1 to 5: \n'))
# Declaring choices
cards = [1,2,3,4,5]

# Selecting random choice
systemChoice = random.choice(cards)
if myChoice == systemChoice:
    print(f"System choice is {systemChoice}")
    print('Correctly guessed the number')
else:
    print(f"System choice is {systemChoice}")
    print('Wrongly guessed the number')

Choose a number between 1 to 5:
 4

System choice is 4
Correctly guessed the number

**24. Write a python program to display calendar of the given month and year ?**

In [26]:
# Program to display calendar of the given month and year

# importing calendar module
import calendar

yy = 2024  # year
mm = 1    # month

# display the calendar
print(calendar.month(yy, mm))

    January 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

**25. Write a Python program to print the elements of an array ?**

In [27]:
# Python program to print the elements of an array

list_1 = [1,2,3,4,5,6,7,8,9]
for i in list_1:
    print(i)

1
2
3
4
5
6
7
8
9

**26. Write a Python program to broadcast matematical operation into an array ?**

In [28]:
# Python program to broadcast matematical operation into an array

list_1 = [1,2,3,4,5,6,7,8,9]
list_2 = []
for i in list_1:
    temp = i*2
    list_2.append(temp)
print(list_2)
# List comprehension
list_3 = [i*3 for i in list_1]
print(list_3)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[3, 6, 9, 12, 15, 18, 21, 24, 27]

**27. Write a Python program to print the duplicate elements of an array ?**

In [29]:
# Python program to print the duplicate elements of an array
# Array 
weight = [10, 32, 23, 54, 54, 67, 76, 85, 67, 10]
# Importing counter module
from collections import Counter
# counting repeated numbers and storing in dictionary
d = Counter(weight)
print(d)
# Then creating a new list only with the repeated numbers using list comprehension
new_list = list([item for item in d if d[item]>1])
print(new_list)

Counter({10: 2, 54: 2, 67: 2, 32: 1, 23: 1, 76: 1, 85: 1})
[10, 54, 67]

**28. Write a Python program to print the largest element in an array with only with two numbers ?**

In [30]:
#Python program to print the largest element in an array with only with two numbers

num_list = [1,2]

if num_list[0] > num_list[1]:
    print(num_list[0], 'is greater')
else:
    print(num_list[1],'is greater')

2 is greater

**29.Write a program to split odd and even numbers and store in a seperate list respectively?**

In [31]:
#Write a program to split odd and even numbers and store in a seperate list respectively?

age = [10,32,43,20,46,13,16,82,71,23,54,15]

oddAge = []
evenAge = []

for i in age:
    if i % 2 == 0:
        evenAge.append(i)
    else:
        oddAge.append(i)

print(oddAge)
print(evenAge)

[43, 13, 71, 23, 15]
[10, 32, 20, 46, 16, 82, 54]

**30.Write a program to identify matching value between two lists.**

In [32]:
# Write a program to identify matching value between two lists.

group_A = ['Sumanth', 'Sanjay', 'Divya', 'Nithya']
group_B = ['Divya', 'Harshitha', 'Sagar', 'Inchara']

common = []

for i in group_A:
    if i in group_B:
        common.append(i)
    
print(common)

['Divya']

**31. Write python program to Print characters from a string that are present at an even index number ?**

**For example, str = "python" so you should display ‘p’, ‘t’, ‘n’**

In [33]:
# Print characters from a string that are present at an even index number
# For example, str = "python" so you should display ‘p’, ‘t’, ‘n’

text = 'Center for Geoinformatics Technology'
length = len(text)
print(length)

for index_pos in range(length):
    if index_pos % 2 == 0:
        print(text[index_pos])

36
C
n
e

o

e
i
f
r
a
i
s
T
c
n
l
g

**32.Write a program to display numbers divisible by both 3 and 5 between the range of 0,100 ?**

In [34]:
#Write a program to display numbers divisible by both 3 and 5 between the range of 0,100

for i in range(0,101):
    if i % 3 == 0 and i % 5 == 0:
        print(f'{i} is divisible by both 3 and 5')

0 is divisible by both 3 and 5
15 is divisible by both 3 and 5
30 is divisible by both 3 and 5
45 is divisible by both 3 and 5
60 is divisible by both 3 and 5
75 is divisible by both 3 and 5
90 is divisible by both 3 and 5

**33.Write a function to perform simple calculator using if-elif-else ?**

In [35]:
#Write a function to perform simple calculator using if-elif-else.

# Function defination
def calc(num1,num2,operator):
    if operator == 'Sum':
        print(num1 + num2)
    elif operator == 'Sub':
        print(num1 - num2)
    elif operator == 'Prod':
        print(num1 * num2)
    elif operator == 'Divi':
        print(num1 / num2)
    else:
        print('Enter valid operator')

# Calling the function
calc(33,22,'Divi')

1.5

**34.Write a program to print all key, value pairs in a dictionary ?**

In [36]:
# Write a program to print all key, value pairs in a dictionary

# Copied a dictionar form geojson.io
point = {
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {},
      "geometry": {
        "coordinates": [
          76.69196982581445,
          12.420901771497341
        ],
        "type": "Point"
      }
    }
  ]
}

for key in point:
    print(key, point[key])

type FeatureCollection
features [{'type': 'Feature', 'properties': {}, 'geometry': {'coordinates': [76.69196982581445, 12.420901771497341], 'type': 'Point'}}]

**35.Write a program to count the number of letter occurrences in a string ?**

In [37]:
# Write a program to count the number of letter occurrences in a string.

text = 'mysore maharaja'

search = 'a'

counted = text.count(search)
print(counted)

4

**36.Write a program to print string “Character” as “CCChhhaaarrraaacccttteeerrr” ?**

In [38]:
# Write a program to print string “Character” as “CCChhhaaarrraaacccttteeerrr”

text = 'Character'

for letter in text:
    print(letter*3,end='')

CCChhhaaarrraaacccttteeerrr

**37.Write a program to print string “Python” as “Pyyttthhhhooooonnnnnn” ?**

In [39]:
#Write a program to print string “Python” as “Pyyttthhhhooooonnnnnn”
text = 'Python'
length = len(text)


for i in range(length):
    print(text[i]*(i+1), end='')

Pyyttthhhhooooonnnnnn

**38.Write a program to ask user to input 5 name and store it in a list ?**

In [40]:
# Write a program to ask user to input 5 name and store it in a list.

totalItems = int(input('Enter total item you want to purchase: '))
itemList = []
for item in range(totalItems):
    itemName = input(f"Enter item {item + 1} name: ")
    itemList.append(itemName)

print(itemList)

Enter total item you want to purchase:  5
Enter item 1 name:  orange
Enter item 2 name:  milk
Enter item 3 name:  apple
Enter item 4 name:  icecream
Enter item 5 name:  kiwi

['orange', 'milk', 'apple', 'icecream', 'kiwi']

**39.Write a program to convert two lists into a dictionary as Key Value pairs ?**

In [41]:
# Write a program to convert two lists into a dictionary as Key Value pairs

Keys = ['Name', 'Adress', 'Age']
Values = ['Sumanth', 'Mysore', 23]

INFO = {}

if len(Keys) == len(Values):
    list_length = len(Keys)
    for i in range(list_length):
        INFO[Keys[i]] = Values[i]

print(INFO)

{'Name': 'Sumanth', 'Adress': 'Mysore', 'Age': 23}

**40.Python program to print the largest element in an array ?**

In [42]:
#Python program to print the largest element in an array

list_1 = [3,4,6,76,22,65,778,334]

large = 0

for number in list_1:
    if number > large:
        large = number

print(large)

778

**41.Python program to print the smallest element in an array ?**

In [43]:
#Python program to print the smallest element in an array

list_1 = [3,6,8,2,45,8,23,89,12,87,1]

small = list_1[0]

for number in list_1:
    if number < small:
        small = number

print(small)

1

**42.Create a list based on sum of two consecutive pairs ?**

In [44]:
# Create a list based on sum of two consecutive pairs

numList = [1,2,3,4,5,6,7,8]

output = []

if len(numList) % 2 == 0:
    for i in range(0,len(numList)-1):
        sum = numList[i] + numList[i+1]
        output.append(sum)
        print(f'{i+1} consecutive sum is {sum}')
print(output)

1 consecutive sum is 3
2 consecutive sum is 5
3 consecutive sum is 7
4 consecutive sum is 9
5 consecutive sum is 11
6 consecutive sum is 13
7 consecutive sum is 15
[3, 5, 7, 9, 11, 13, 15]

**43.Create a program to check Euclidean Distance between consecutive points ?**

In [45]:
# Create a program to check Euclidean Distance between consecutive points

coordinate1 = (1,2)
coordinate2 = (8,9)
# Collecting coordinate x and y
x1 = coordinate1[0]
x2 = coordinate2[0]

y1 = coordinate1[1]
y2 = coordinate2[1]

# Finding difference between coordinates x and y
diff_x = (x2 - x1)**2
diff_y = (y2 - y1)**2

# Applying eucledian formula
distance = (diff_x + diff_y)**0.5

print(distance)

9.899494936611665

**44.Create a program to find Distance between two geographical coordinate using Haversine formula ?**

In [46]:
# Create a program to find Distance between two geographical coordinate using Haversine formula

'''
a = sin²(diff_lat/2) + cos(lat1).cos(lt2).sin²(diff_long/2)
c = 2.atan2(√a, √(1-a))
d = R.c

where,

ΔlatDifference = lat1 - lat2 (difference of latitude)

ΔlonDifference = lon1 - lon2 (difference of longitude)

R is radius of earth i.e 6371 KM or 3961 miles

and d is the distance computed between two points.
1Deg × π/180 = 0.01745Rad

'''
from math import cos, sin, asin, sqrt, pi

source = (12.314477, 76.646728)
destination = (26.174387004022226, 91.70286580517384)

# Calling the lat and long and coonverting degrees to radians
lat1 = source[0]*(pi/180)
lat2 = destination[0]*(pi/180)

long1 = source[1]*(pi/180)
long2 = destination[1]*(pi/180)

# Findig difference between latitude and longitude
dLat = lat2 - lat1
dLong = long2 - long1

# Applying Haversine formula
a = sin(dLat/2)**2 + cos(lat1) * cos(lat2) * sin(dLong/2)**2
c = 2 * asin(sqrt(a))
r = 6371 # Earth radius in Kilometer
# Calculating distance
distance = r * c

print(distance)

2203.45794770425

**45.Module to convert lat and long to utm**

In [47]:
# Module to convert lat and long to utm

# pip install utm

import utm

lat = float(input('Enter latitude: '))
long = float(input('Enter longitude: '))
if lat > 0:
    zone = 'N'
else:
    zone = 'S'
output = utm.from_latlon(lat,long)
print(f'Easting is {output[0]}')
print(f'Northing is {output[1]}')
print(f'Zone is {output[2]}{zone}')

Enter latitude:  12.5684
Enter longitude:  76.1546

Easting is 625426.9597417652
Northing is 1389682.5182148642
Zone is 43N

**46.Write a program to generate mean, median, mode, stdev using statistics module.**

In [48]:
# Write a program to generate mean, median, mode, stdev using statistics module.

import statistics as st
data = [1, 3, 5, 7, 11, 9, 11, 13]

# Calculating average
print(st.mean(data))
# Checking centerd value in a sorted list
print(st.median(data))
# Checking repeadted value
print(st.mode(data))
# Calculating standard deviation
print(st.stdev(data))

7.5
8.0
11
4.242640687119285

**47.OS module**

In [49]:
# OS module

import os
# Returns the current working directory
dir = os.getcwd()
print(dir)

# os.mkdir("C:/Users/wwwsu/Documents/VSCODES/Test")

os.mkdir(f"{dir}/Test1")

C:\Users\wwwsu\Pratical_Class

**48.Create 10 folders using OS module**

In [50]:
# Create 10 folders using OS module

import os
# Returns the current working directory
dir = os.getcwd()
print(dir)

for i in range(1,11):
    os.mkdir(f"{dir}/Test_{i}")

C:\Users\wwwsu\Pratical_Class

**49.list all folders in current directory and rename it using OS module.**

In [51]:
#  list all folders in current directory and rename it using OS module

import os
# Returns the current working directory
dir = os.getcwd()
list_dir = os.listdir(dir)

for i in list_dir:
    if i.startswith('Test'):
        try:
            temp = i[4:]
            newName = 'mycode' + temp
            os.rename(i, newName)
        except:
            pass

**50.list all folders in current directory and delete it using OS module.**

In [52]:
# list all folders in current directory and delete it using OS module

import os
# Returns the current working directory
dir = os.getcwd()
list_dir = os.listdir(dir)

for i in list_dir:
    if i.startswith('mycode'):
        try:
            os.rmdir(i)
        except:
            pass

In [ ]:
# Write a program to convert to raw thermal DN value to temperature
# Landsat 5,7 and 8