<div style='background:#B1F9E3; color:#000000' class='alert alert-box'>
  <h1>Working with Date and Time</h1>
</div>

In [1]:
# Import pandas and numpy
import numpy as np
import pandas as pd

In [2]:
# Import time module
import datetime as dt

In [3]:
dob = dt.date(2001,4,19)

In [4]:
dob

datetime.date(2001, 4, 19)

In [5]:
dob.year

2001

In [6]:
dob.month

4

In [7]:
dob.day

19

In [8]:
dob_full = dt.datetime(2001, 4, 19, 18,45,0)

In [9]:
dob_full.hour

18

In [10]:
dob_full.minute

45

In [11]:
dob_full.second

0

In [12]:
# Pandas timestamp object
pd.Timestamp('2001-4-19')

Timestamp('2001-04-19 00:00:00')

In [13]:
pd.Timestamp('2001/4/19')

Timestamp('2001-04-19 00:00:00')

In [14]:
pd.Timestamp('April 19th, 2001')

Timestamp('2001-04-19 00:00:00')

In [15]:
# Creating datetime index
dates = ['2024-1-26','2024-1-27','2024-1-28']

In [16]:
# Converting dates into datetime index
dt = pd.DatetimeIndex(dates)

In [17]:
dt

DatetimeIndex(['2024-01-26', '2024-01-27', '2024-01-28'], dtype='datetime64[ns]', freq=None)

In [18]:
loss = [12000,9000,8800]

In [19]:
df = pd.DataFrame(data=loss,index=dt)

In [20]:
df

                0
2024-01-26  12000
2024-01-27   9000
2024-01-28   8800

In [21]:
df.columns = ['Losses']

In [22]:
df

            Losses
2024-01-26   12000
2024-01-27    9000
2024-01-28    8800